// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100vh;
  width: 100vw;
}

.header {
  height: 50px;
  background-color: black;
  display: flex;
  align-items: center;
}

.header-logo {
  padding: 10px;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
}

.header-return-button {
  padding: 10px;
  color: white;
  background-color: #33ccff;
  border-radius: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: 30px;
  display: inline-block;
}

content {
  position: relative;
  left: 50%;
  transform: translateX(-50%);;
  width: 980px;
  @media screen and (max-width:1000px) {
    width: 70%;
  }
  background-color: #ECECEC;
  flex-grow: 1;
  & > * > * {
    margin: 10px;
  }
}

.note {
  display: inline-block;
  position: relative;
  left: 98%;
  transform: translateX(-100%);
}
.asterisk {
  color: red;
}

.drop {
  position: relative;
  width: calc(100% - 30px);
  box-sizing: border-box;
  padding: 30px;
  margin: 15px;
  margin-bottom: 10px;
  border: 1px dotted #333333;
  border-radius: 5px;
  text-align: center;
}

div p {
   display: inline-block;
}

.tagu , .pass {
  padding: 10px;
  margin: 15px;
  margin-bottom: 10px;
  border: 1px solid #333333;
  border-radius: 10px;

}

.pass {
  text-align: center;
  @media screen and (max-width:1000px) {
    width: 50%;
  }
}

.button {
  padding: 10px;
  color: white;
  background-color: #33ccff;
  border-radius: 10px;
  cursor: pointer;
  border: 0px;
  font-weight: bold;
  text-align: center;
  & > a {
      text-decoration: none;
      color: white;
  }
}